@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #ffffff;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

@layer base {
    * {
        @apply border-white/5;
    }
}

h1,
.font-serif {
    font-family: var(--font-serif), serif !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

::selection {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}